.cell {
    background-color: #cbe5f2; /* Very light blue */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.rendered_html pre {
    background-color: #e0f2f9; /* Lighter blue */
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.rendered_html code {
    background-color: #e0f2f9; /* Lighter blue */
    padding: 2px 5px;
    border-radius: 3px;
}

.rendered_html .highlight {
    background-color: #ecfcff; /* Very light yellow */
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.rendered_html .highlight-github {
    background-color: #f8f8f8; /* Off-white */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
}
